{% extends 'base.html' %}

{% block title %} | Welcome {% endblock title %}
}
	
{% block content %}
  <!-- Alerts -->
  <br>
  {% include 'partials/_alerts.html' %}
  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Rota Search
          </h1>
          <p class="lead">Use the search boxes below to find the information you need. You can search by date, person or shift type.</p>
          <div class="search">
            <form action={% url 'search' %}>
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Rota</label>
                  <input type="text" name="rota" class="form-control" placeholder="Rota">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Date</label>
                  <select name="date" class="form-control">
                    <option selected="true" disabled="disabled">Date</option>
                    <!-- change to my dic in choices.py -->
                    {% for key, value in state_choices.items %}
                      <option value="{{ key }}"> {{ value }}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Person</label>
                  <select name="person" class="form-control">
                    <option selected="true" disabled="disabled">Person</option>
                     <!-- change to my dic in choices.py -->
                    {% for key, value in bedroom_choices.items %}
                      <option value="{{ key }}"> {{ value }}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="shift" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Shift </option>
                    <!-- change to my dic in choices.py -->
                    {% for key, value in price_choices.items %}
                      <option value="{{ key }}"> {{ value }}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Current Rotas</h3>
      <div class="row">

        {% if rotas %}
          {% for rota in rotas %}
            <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ rota.title }}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{ rota.description }}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 2500</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 2</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 3</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Rota coordinator: </div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> Last updated</div>
              </div>
              <hr>
              <a href="{% url 'masterrota' rota.id %}" class="btn btn-primary btn-block">Master Rota</a>
            </div>
          </div>
        </div>

          {% endfor %}

        {% else %}
          <div class="col-md-12">
            <p>No Rotas Available</p> 

        {% endif %}



      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
