{% extends 'base.html' %}

{% load static %}

<!-- replace 'Master Rota' with {{rota.title}} to bring in title of rota -->
{% block title %} | Master Rota {% endblock title %}

{% block content %}
	
<h1> Master Rota </h1>

 <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>date</th>
        <th>day</th>
        <th>'person1shifts'</th> 
		<th>'person2shifts'</th>
		<th>'person3shifts'</th>
		<th>'person4shifts'</th>
		<th>'person5shifts'</th>
		<th>'person6shifts'</th>
		<th>'person7shifts'</th>
		<th>'person8shifts'</th>
		<th>'person9shifts'</th>
		<th>'person10shifts'</th>
		<th>'person11shifts'</th>
		<th>'person12shifts'</th>
		<th>'person13shifts'</th>
		<th>'person14shifts'</th>
		<th>'person15shifts'</th>
		<th>'person16shifts'</th>
		<th>'person17shifts'</th>
		<th>'person18shifts'</th>
		<th>'person19shifts'</th>
		<th>'person20shifts'</th>
		<th>'person21shifts'</th>
		<th>'person22shifts'</th>
		<th>'person23shifts'</th>
		<th>'person24shifts'</th>
		<th>'person25shifts'</th>
		<th>'person26shifts'</th>
		<th>'person27shifts'</th>
		<th>'person28shifts'</th>
		<th>'person29shifts'</th>
		<th>'person30shifts'</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for item in items %}

      <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.day }} </td>
        <td>{{ item.person1shifts }}</td>
        <td>{{ item.person2shifts }}</td>
        <td>{{ item.person3shifts }}</td>
        <td>{{ item.person4shifts }}</td>
        <td>{{ item.person5shifts }}</td>
        <td>{{ item.person6shifts }}</td>
        <td>{{ item.person7shifts }}</td>
        <td>{{ item.person8shifts }}</td>
        <td>{{ item.person9shifts }}</td>
        <td>{{ item.person10shifts }}</td>
        <td>{{ item.person11shifts }}</td>
        <td>{{ item.person12shifts }}</td>
        <td>{{ item.person13shifts }}</td>
        <td>{{ item.person14shifts }}</td>
        <td>{{ item.person15shifts }}</td>
        <td>{{ item.person16shifts }}</td>
        <td>{{ item.person17shifts }}</td>
        <td>{{ item.person18shifts }}</td>
        <td>{{ item.person19shifts }}</td>
        <td>{{ item.person20shifts }}</td>
        <td>{{ item.person21shifts }}</td>
        <td>{{ item.person22shifts }}</td>
        <td>{{ item.person23shifts }}</td>
        <td>{{ item.person24shifts }}</td>
        <td>{{ item.person25shifts }}</td>
        <td>{{ item.person26shifts }}</td>
        <td>{{ item.person27shifts }}</td>
        <td>{{ item.person28shifts }}</td>
        <td>{{ item.person29shifts }}</td>
        <td>{{ item.person30shifts }}</td>        

      </tr>

      {% endfor %}
    </tbody>
  </table>

 <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="listings.html" class="btn btn-light mb-4">Back To Listings</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <img src="assets/img/homes/home-1.jpg" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-1.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-2.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-3.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-4.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-5.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-6.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Asking Price:
                  <span class="float-right">$490,000</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Bedrooms:
                  <span class="float-right">3</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Bathrooms:
                  <span class="float-right">2</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-car"></i> Garage:
                  <span class="float-right">2
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Square Feet:
                  <span class="float-right">3200</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-square"></i> Lot Size:
                  <span class="float-right">2.5 Acres
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Listing Date:
                  <span class="float-right">8/30/2018</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Realtor:
                  <span class="float-right">Kyle Brown
                  </span>
                </li>


              </ul>
            </div>
          </div>






  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
            {% else %}
                <input type="hidden" name="user_id" value="0">
            {% endif %}
                <!-- change from realtor to rota coordinator to send rota coordinator an email
                <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
                <input type="hidden" name="listing_id" value="{{ listing.id }}"> -->

            <div class="form-group">
              <label for="property_name" class="col-form-label">Rota:</label>
              <input type="text" name="listing" class="form-control" value="{{ rota.title }}">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" 
                {% if user.is_authenticated %} 
                    value="{{ user.name }}" 
                {% endif %}
                required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" 
                    {% if user.is_authenticated %} 
                        value="{{ user.email }}" 
                    {% endif %}
                required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}