{% extends 'base.html' %}

{% load static %}

{% block content %}
	
<h1> Master Rota </h1>

 <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>date</th>
        <th>day</th>
        <th>'person1shifts'</th> 
		<th>'person2shifts'</th>
		<th>'person3shifts'</th>
		<th>'person4shifts'</th>
		<th>'person5shifts'</th>
		<th>'person6shifts'</th>
		<th>'person7shifts'</th>
		<th>'person8shifts'</th>
		<th>'person9shifts'</th>
		<th>'person10shifts'</th>
		<th>'person11shifts'</th>
		<th>'person12shifts'</th>
		<th>'person13shifts'</th>
		<th>'person14shifts'</th>
		<th>'person15shifts'</th>
		<th>'person16shifts'</th>
		<th>'person17shifts'</th>
		<th>'person18shifts'</th>
		<th>'person19shifts'</th>
		<th>'person20shifts'</th>
		<th>'person21shifts'</th>
		<th>'person22shifts'</th>
		<th>'person23shifts'</th>
		<th>'person24shifts'</th>
		<th>'person25shifts'</th>
		<th>'person26shifts'</th>
		<th>'person27shifts'</th>
		<th>'person28shifts'</th>
		<th>'person29shifts'</th>
		<th>'person30shifts'</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      {% for item in items %}

      <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.day }} </td>
        <td>{{ item.person1shifts }}</td>
        <td>{{ item.person2shifts }}</td>
    

     

      </tr>

      {% endfor %}
    </tbody>
  </table>

{% endblock content %}